body {
    font-family: Arial, sans-serif;
}


header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
}


main {
    padding: 20px;
}


#app {
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 20px;
}


.instructions {
    list-style-type: decimal;
    padding-left: 20px;
}


.instruction-item {
    margin-bottom: 20px; /* Add spacing between items */
}


table {
    border-collapse: collapse;
    width: 100%;
}


th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}


th {
    background-color: #f2f2f2;
}


input[type="file"] {
    display: none;
}


button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
